body{ 
background-color: rgb(155, 155, 155);
}

pre{ 
background-color: rgb(255, 255, 255);
width: auto;
height:auto;
color: rgb(0, 0, 0);
font-size: medium;
font-weight: 100;

} 

h1{ 
  color: rgb(255, 255, 255);  
  margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

h2{ 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(255, 255, 255);
}